head
    title= 'GET - AVIOR'
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='GET - AVIOR')
    meta(name='author', content='John Kennedy')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='Content-Security-Policy', content="img-src 'self' data:; default-src *; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com/; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://cdn.jsdelivr.net/ https://ajax.googleapis.com http://www.w3.org")   
    link(rel="stylesheet", href="css/tailwind.css")
    link(rel="stylesheet", href="css/icons.css")
    link(rel="icon", href="favicon.ico")