head
    title= 'AVIOR - Exchange'
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Avior Swap')
    meta(name='author', content='John Kennedy')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='Content-Security-Policy', content="default-src *; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com/; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://cdn.jsdelivr.net/ https://ajax.googleapis.com")   
    link(rel="stylesheet", href="css/tailwind.css")
    link(rel="stylesheet", href="css/icons.css")