table(class="table-auto w-full mt-5")
    thead(class="border-b border-t")
        tr 
            th(class="text-sm font-medium text-gray-900 px-6 py-4 text-left") No.
            th(class="text-sm font-medium text-gray-900 px-6 py-4 text-left") Address
            th(class="text-sm font-medium text-gray-900 px-6 py-4 text-left") Send
    tbody
        each row, index in result ? result : [] 
            tr(class="border-b")
                td(class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap")=index + 1 
                td(class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap") #{row.address.substring(0, 6)}....#{row.address.substring(row.address.length - 10)}
                td(class="text-right w-4")
                    a(class="btn bg-green-500 text-xs text-white w-full", href="javascript:;", onclick="sendAvior('" + row.unique + "','" + row.address + "'," + row.avior_amount + ")") #{row.avior_amount}
script.
    async function sendAvior(unique, address, amount){
        try {
            $('#section-form').hide()
            $('#section-waiting').show() 
            
            window.onbeforeunload = function() {
                return "Dude, are you sure you want to leave? Think of the kittens!";
            }
            
            var contract = new web3.eth.Contract(contractAbi, aviorAddress)
            await contract.methods.transfer(address, web3.utils.toWei(amount.toString(), 'ether')).send({
                from: '0x98cfb452e87a506C96Fd06D46d3143eAe15110D0', gas: 100000}).on("transactionHash", function () {
                console.log("Hash")
            })
            .on("receipt", function () {
                console.log("Receipt");
            })
            .on("confirmation", function () {
                console.log("Confirmed");
            })
            .on("error", async function (error) {
                alert(error);
                return
            });

            await $.post("/send", {
                unique : unique,
                txid : result
            }, function(data, status){
                window.onbeforeunload = null
                if (!status == 'success') {
                    alert('Transaction Failed')
                }
                location.reload()
            });
        } catch (error) {
            window.onbeforeunload = null
            alert(error.message)
            location.reload()
        }
        window.onbeforeunload = null
        location.reload()
    }