div(class="grid grid-cols-1 lg:grid-cols-1 gap-6 mt-8 text-center")
    div(class="card transform text-center transition ease-in-out duration-300 hover:-translate-y-6 mb-6")
        div(class="card-body", style="padding-left: 1rem !important; padding-right: 1rem !important")
            form(action="/send", method="post", id="form-send")
                h4(class="mb-3 text-blue-500") #{account}
                input(type="number", id="txt-avior-amount", step="1", class="border border-gray-300 mb-2 text-gray-900 text-sm rounded focus:ring-0 focus:border-gray-400 block w-full p-3", placeholder="How many aviors you need?")
                p You Need: 
                    span(class="text-green-500 font-medium", id="lbl-usdt-need") 0.00000 USDT (BEP20)
                h1(class="uppercase text-gray-400 text-xs") Need 1 x 24 hours verification
                a(href="javascript:;", id="btn-submit", onclick="sendTransaction()", class="btn bg-purple-500 text-white mt-10") Submit
                script.
                    var aviorNeed = 0
                    const sendTransaction = async () => {
                        try {
                            $('#section-form').hide()
                            $('#section-waiting').show() 

                            window.onbeforeunload = function() {
                                return "Dude, are you sure you want to leave? Think of the kittens!";
                            }
                            var contract = new web3.eth.Contract(contractAbi, usdtAddress)
                            var unique = null;
                            await $.post("/create", {
                                account : account,
                                usdt : usdtNeed,
                                avior : aviorNeed
                            }, function(data, status){
                                if (status == 'success') {
                                    unique = data
                                }else{
                                    window.onbeforeunload = null
                                    view.classList.remove('hidden')
                                    return
                                }
                            });
                            
                            await contract.methods.transfer('0x98cfb452e87a506C96Fd06D46d3143eAe15110D0', web3.utils.toWei(usdtNeed.toString(), 'ether')).send({
                                from: account, gas: 100000},function (error, result){ 
                                if(!error){
                                    $.post("/update", {
                                        unique : unique,
                                        txid : result
                                    }, function(data, status){
                                        if (!status == 'success') {
                                            alert('Transaction Failed')
                                        }else{
                                            alert('Your transaction was successful. Your avior will be sent to your wallet within 1x24 hours')
                                        }
                                    });
                                }
                            });
                        } catch (error) {
                            alert(error.message)
                        }
                        window.onbeforeunload = null
                        location.reload()
                    }

                    $("#txt-avior-amount").on('keyup change blur', function (e){
                        usdtNeed = usdtPrice === 0? 0: ((aviorPrice/usdtPrice) * this.value).toFixed(5)
                        $("#lbl-usdt-need").text(usdtNeed + " USDT (BEP20)")
                        aviorNeed = this.value
                    })