html
    include includes/header
    body
        div(class="navbar-custom is-sticky", id="navbar")
            nav
                div(class="lg:container flex flex-wrap items-center")
                    a(href="/", class="flex lg:ml-0 ml-8") 
                        span(class="self-center text-xl font-poppins font-bold tracking-widest whitespace-nowrap uppercase text-white") Avior
                    div(class="flex items-center lg:order-2 ml-auto lg:mr-0 mr-8")
                        button(id="btn-disconnect", class="btn bg-red-500 text-white rounded-full translate-y-0 hidden") Disconnect
        
        section(class="mt-5 pb-0")
            div(class="container")
                div(class="flex justify-center")
                    div(class="lg:w-2/3 space-y-5 text-center")
                        h1(class="text-2xl uppercase tracking-widest") Get Avior
                            h4(class="text-gray-400 mb-2 text-xs") Now, avior price is <br> 
                                label(id="lbl-avior-usdt-price") USDT
                        div(class="h-0.5 bg-yellow-500 w-14 mx-auto")

        section(id="section-form",style="padding-top: 0 !important")
            div(class="container")
                div(id="form")

        section(id="section-waiting")
            div(class="container text-center")
                h4(class="text-red-500 mb-2") Please wait. Don't leave this tab or close this browser

        section(id="section-connect", style="margin-bottom: 4rem !important")
            div(class="container text-center")
                button(id="btn-connect", class="btn bg-yellow-500 text-white rounded-full translate-y-0")
                    span(class="mdi mdi-wallet m-auto") &nbsp;Connect To Wallet

        section(class="bg-gray-100 text-center")
            div(class="container")
                h4(class="text-gray-400") Contact Us
                a(href="mailto:support@aviortoken.com", class="text-gray-600") support@aviortoken.com

        footer(class="bg-gray-800 py-5 text-center")
            div(class="container")
                div(class="grid grid-cols-1 lg:grid-cols-3 items-center gap-6")
                    div(class="col-span-2")
                        div(class="text-sm text-gray-400") 
                            script.
                                document.write(new Date().getFullYear() + " &copy; AVIOR TOKEN") 

        <!-- Custom Javascript -->
        script(src="js/smooth-scroll.polyfills.min.js")
        script(src="js/gumshoe.polyfills.min.js")
        script(src="js/app.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
        script(src="https://cdn.jsdelivr.net/npm/@walletconnect/web3-provider@1.7.5/dist/umd/index.min.js")
        script(src="https://cdn.jsdelivr.net/npm/web3@1.7.1/dist/web3.min.js")
        script(src="/js/index.js")